%h1 Listing mp3tunes
%p
  = link_to 'New Mp3tune', new_mp3tune_path
  = link_to 'Back', "/"


%table
  %tr
    %th Rating
    %th Url
    %th Title
    %th Artist
    %th Length
    %th
    %th
    %th

  - @mp3tunes.each do |mp3tune|
    %tr{:class => "mp3tune_#{mp3tune.id}"}
      %td#rating= (@rating[mp3tune.id] == 0 || @rating[mp3tune.id].nan?  ? "N/R" : number_with_precision(@rating[mp3tune.id], :precision => 2))
      %td= mp3tune.url
      %td= mp3tune.title
      %td= mp3tune.artist
      %td= mp3tune.length
      %td= link_to 'Show', mp3tune
      %td= button_to 'Remove', mp3tune, :confirm => 'Are you sure?', :method => :delete
      %td= link_to 'Rate this tune', new_mp3tune_rating_path(mp3tune)

%br

= link_to 'New Mp3tune', new_mp3tune_path
= link_to 'Back', "/"
