= form_for mp3tune_ratings_path(@mp3tune) do |f|
  -if @rating.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rating.errors.count, "error")} prohibited this rating from being saved:"
      %ul
        - @rating.errors.full_messages.each do |msg|
          %li= msg
          
  .field
    Rate 
    %b= @mp3tune.title
    by artist
    %b= @mp3tune.artist
    %br
    on a scale of 1(I loathe it!)" to 5(Best Tune Ever!)
    
  .demo
    %p
      %label{:for => "rating_value"} Your Rating
      %input#rating_value{:style => "border:1px black solid; background-color:#f6931f; font-weight:bold;", :type => "text"}
  
    #slider
  
  .actions
    = f.submit 'Save'
