= form_for(:rating, :url => mp3tune_ratings_path(@mp3tune)) do |f|
  -if @rating.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rating.errors.count, "error")} prohibited this rating from being saved:"
      %ul
        - @rating.errors.full_messages.each do |msg|
          %li= msg
          
  .field
    Rate 
    %b= @mp3tune.title
    by artist
    %b= @mp3tune.artist
    %br
    on a scale of 1(I loathe it!)" to 5(Best Tune Ever!)
    
  .field
    = f.select(:value, [["(1) I loathe it", 1],["(2) Slightly better than nothing", 2],["(3) I can take it or leave it", 3], ["(4) Awesome - play it again", 4],["(5) Best Tune Ever",5]].reverse, :selected => 3)
  .actions
    = f.submit 'Save'
