
= form_for :playlist, :url => playlists_path do |f|
  -if @playlist.errors.any?
    #error_explanation
      %h2= "#{pluralize(@playlist.errors.count, "error")} prohibited this playlist from being saved:"
      %ul
        - @playlist.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :artist_name
    = check_box_tag  :artist_name
    = select_tag 'artist',options_from_collection_for_select(@artists, "id", "artist", 0)
    
  .field
    = f.label :minimum_rating
    = check_box_tag :minimum_rating
    = select_tag 'min_rating', options_for_select([["N/R",0],1,2,3,4,5], "N/R")
    
  .actions
    = f.submit 'Create Playlist'
