!!!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"

%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" =>"en", :lang => "en"}
  %head
    %title Mp3
    = stylesheet_link_tag :all
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    -@custom_csses.uniq.each do |css|
      = stylesheet_link_tag css

    = csrf_meta_tag
  %body
    = yield

  = javascript_include_tag "jquery-ui.min", "jquery.min"
  -@custom_javascripts.uniq.each do |js|
    = javascript_include_tag js